<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
        <title>{{coin_name}} Visualizer!</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/crypto/">{{coin_name}} Visualizer</a>
        </nav>
        <div class="container">
        
            <!--this div contain peak and min price card -->
            <div class="row mt-3">
                <div class="col">
                    <div class="card border-danger mx-sm-1 p-2">
                        <div class="text-danger text-center mt-1"><h4>Peak Price</h4><p>{{peak_price_date}}</p></div>
                        <div class="text-danger text-center "><h1>{{peak_price}} USD</h1></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-success mx-sm-1 p-2">
                        <div class="text-success text-center mt-1"><h4>Min Price</h4><p>{{min_price_date}}</p></div>
                        <div class="text-success text-center"><h1>{{min_price}} USD</h1></div>
                    </div>
                </div>
            </div>
                
            
            <!--this div contain date vs price chart -->
            <div class='container-fluid mt-4' style="float: left;height:=400px;width: 100%;  ">
                <canvas id="myChart1" style="height: 400px;"></canvas>
            </div>
            
            <!--this div contain average price corresponding to each year -->
            <div class='container-fluid mt-5 mb-4' style="float: left;height:=400px;width: 100%;  ">
                <canvas id="myChart2" style="height: 400px;"></canvas>
            </div>
        </div>

        <!--chart js script -->
        <script>
            const x_features1 = [{% for i in daily_dates %} {{i}}, {% endfor %}]
            const y_features1 = [{% for i in daily_price %} {{i}}, {% endfor %}]
            const ctx1 = document.getElementById('myChart1').getContext('2d');
                
            const config1 = {
                type:'line',
                data:{
                    labels:x_features1,
                    datasets:[
                        {
                            label:'priceData',
                            data:y_features1,
                            borderColor: 'rgba(255,0,0,1)',
                            backgroundColor: 'rgba(255,0,0,0.8)',
                            stack: 'combined',
                            type: 'bar',
                        },
                        {
                            label:'priceData',
                            data:y_features1,
                            borderColor: 'rgba(0,0,255,1)',
                            stack: 'combined',
                        }
                    ],
                },

                options: {
                    responsive:true,
                    maintainAspectRatio: false,
                    plugins:{
                        legend:{
                            display:false,
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Date vs Price',
                        }
                    },
                    scales:{
                        y: {
                            stacked : true,
                        },
                    },
                },
            }
            var chart1 = new Chart(ctx1,config1);



            const x_features2 = [{% for i in year_list %} {{i}}, {% endfor %}]
            const y_features2 = [{% for i in year_avg %} {{i}}, {% endfor %}]
            const ctx2 = document.getElementById('myChart2').getContext('2d');
                
            var config2 = {
                type:'bar',
                data:{
                    labels:x_features2,
                    datasets:[{
                        label:y_features2,
                        data:y_features2,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)', 
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                         borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                    }],
                },
                options: {
                    indexAxis: 'y',
                    elements:{
                        bar:{
                            borderWidth: 2,
                        }
                    },
                    responsive:true,
                    maintainAspectRatio: false,
                    plugins:{
                        legend:{
                            display: false,
                            position: 'right',
                        },
                        title: {
                            display: true,
                            text: 'Yearly Average Price',
                        }
                    },
                },
            }
            var chart2 = new Chart(ctx2,config2);
        </script>

    </body>
</html>