<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
        <title>DS DashBoard!</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/crypto/">DATA VISUALIZER</a>
            </div>
        </nav>

        <div class="container-fluid d-flex bd-highlight mt-5">

            <div class="p-2 flex-fill bd-highlight">
                <form method='POST' class="form " enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mt-4 mb-4">    
                        <div class="form-group row">
                            <label class="col col-form-label">Upload Dataset : </label>
                            <div class="mx-2">{{ form.file }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">Feature 1 Column No : </label>
                            <div class="mx-2">{{ form.feature1 }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">Feature 2 Column No : </label>
                            <div class="mx-2">{{ form.feature2 }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">Start Row No. : </label>
                            <div class="mx-2">{{ form.startRow }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">End Row No. : </label>
                            <div class="mx-2">{{ form.endRow }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">Select Chart Type. : </label>
                            <div class="mx-2">{{ form.chartType }}</div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-primary mb-2" type="submit">Visualize</button>
                    </div>
                </form>
            </div>

            <div class="p-2 flex-fill bd-highlight">
                <canvas id="myChart" ></canvas>
            </div>
            
        </div>

        <script>
            const ctx = document.getElementById('myChart').getContext('2d');

            const x_features = [{% for i in x_val %} {{i}}, {% endfor %}]
            const y_features = [{% for i in y_val %} {{i}}, {% endfor %}]

            const dataBar = {
                labels: x_features,
                datasets: [{
                    label: 'Visualization',
                    data: y_features,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)','rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            }

            const configBar = {
                type: 'bar',
                data: dataBar,
                options: {
                    responsive: true,
                }
            }

            const dataLine = {
                labels: x_features,
                datasets: [{
                    label: 'Y values',
                    data: y_features,
                    fill:true,
                    backgroundColor:'#cc99ff',
                    borderColor:'#003399',
                    pointBackgroundColor:'#003399'
                }]
            }
            
            const configLine = {
                type: 'line',
                data: dataLine,
                options: {
                    responsive: true,
                }
            };
            {% if chartType == "Bar" %}
                const myChart = new Chart(ctx, configBar);
            {% else %}
                const myChart = new Chart(ctx, configLine);
            {% endif %}
        </script>
   </body>
</html>